/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/
body {
  font-size: 16px;
  background-color: #eeeeee;
  color: #680000;
}

/*styling for the page title*/
h1 {
  font-style: italic;
  font-size: 28px;
  text-align: center;
  background-color: #996600;
  color: #f8f8f8;
}

/*styling for the overall table*/
table {
  background-color: #f8f8f8;
  border: solid 2px #787878;
}

/*styling for the title of the table*/
th {
  font-weight: bold;
  text-align: left;
}

/*styling for the coffee types*/
.label {
  font-weight: bold;
}

/*styling for the tables*/
.altrow {
  background-color: #e0e0e0;
}

/*styling for the Google Map link*/
#locationlink {
  color: #380000;
  font-style: italic;
}

/*styling for the bottom copyright information*/
footer {
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

form .form-item {
  margin: 12px 16px;
  font-size: 18px;
}

form .form-item span {
  margin-right: 8px;
}

form .form-item button {
  appearance: none;
  border: none;
  background-color: #5a6a6a;
  color: #fff;
  padding: 4px 8px;
  font-size: 20px;
}
